.LatestResults {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding:5px;
}

@media (max-width: 1200px) {
    .LatestResults .table thead tr th:nth-child(5),
	.LatestResults .table tbody tr td:nth-child(5)
	{
	  display: none !important;
	} 
}

@media (max-width: 500px) {
    .LatestResults .table thead tr th:nth-child(4),
	.LatestResults .table tbody tr td:nth-child(4),
	.LatestResults .table thead tr th:nth-child(5),
	.LatestResults .table tbody tr td:nth-child(5)
	{
	  display: none !important;
	} 
}