.LeagueTable {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding:5px;
}

@media (max-width: 1050px) {
    .LeagueTable .table thead tr th:nth-child(3),
	.LeagueTable .table tbody tr td:nth-child(3),
	.LeagueTable .table thead tr th:nth-child(6),
	.LeagueTable .table tbody tr td:nth-child(6),
	.LeagueTable .table thead tr th:nth-child(7),
	.LeagueTable .table tbody tr td:nth-child(7),
	.LeagueTable .table thead tr th:nth-child(9),
	.LeagueTable .table tbody tr td:nth-child(9)
	{
	  display: none;
	} 
}

@media (max-width: 550px) {
    .LeagueTable .table thead tr th:nth-child(3),
	.LeagueTable .table tbody tr td:nth-child(3),
	.LeagueTable .table thead tr th:nth-child(6),
	.LeagueTable .table tbody tr td:nth-child(6),
	.LeagueTable .table thead tr th:nth-child(7),
	.LeagueTable .table tbody tr td:nth-child(7),
	.LeagueTable .table thead tr th:nth-child(8),
	.LeagueTable .table tbody tr td:nth-child(8),
	.LeagueTable .table thead tr th:nth-child(9),
	.LeagueTable .table tbody tr td:nth-child(9),
	.LeagueTable .table thead tr th:nth-child(11),
	.LeagueTable .table tbody tr td:nth-child(11),
	.LeagueTable .table thead tr th:nth-child(12),
	.LeagueTable .table tbody tr td:nth-child(12)
	{
	  display: none;
	} 
}
