.RunTheNumbers {
  padding: 5px;
}

@media all and (min-width: 480px) {
  .RunTheNumbers {
    padding: 10px 0;
  }

  .RunTheNumbers form {
    margin: 0 auto;
    /*max-width: 320px;*/
  }
}

.RunTheNumbers form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}